name: macos

on:
  push:
    branches:
      - "*"
    tags-ignore:
      - "*"
  pull_request:

jobs:
  perl:
    env:
      PERL_USE_UNSAFE_INC: 0
      AUTHOR_TESTING: 1
      AUTOMATED_TESTING: 1
      RELEASE_TESTING: 1

    runs-on: macOS-latest

    steps:
      - uses: actions/checkout@v2
      - name: perl -V
        run: perl -V
      - uses: actions/checkout@v2
      - name: install deps using cpm
        uses: perl-actions/install-with-cpm@v1.3
        with:
          install: |
            B::COW
          sudo: false
      - run: perl Makefile.PL
      - run: make test
